[submodule "art-portfolio"]
	path = art-portfolio
	url = https://github.com/swecery/art-portfolio.git
	branch = main

[submodule "CountryFlagQuiz"]
	path = CountryFlagQuiz
	url = https://github.com/swecery/CountryFlagQuiz
	branch = main
